<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/images/home.png" alt="">
  </div>
  <div class="headings">
    <h2>Anime Info</h2>
    <h3>Detail info about ANime by King</h3>
    <a href="/animes" class="btn">View Animes</a>
  </div>
</header>


<%- include('partials/footer'); -%>